p
{
	font-family: helvetica, arial, verdana, sans-serif;
	}

/*body{*/
	/*background-color: black;
/*}	*/
body{
	background: url("Assets/violetimage.jpg") no-repeat center;
	background-size: cover;
}

div {
    border-width:3px;	
    border-style:outset;
    border-color: gold;
}
	h2
	{
		font-size: 20px;
		font-weight: bold;
		color: white;
	}
p
{
	color:white;
}

div
{
	color:white;
}

